.itemscontainer3{
     display: flex;
    flex-wrap: wrap;
    width: 70% ;
    height: 100%;
    margin-left: 22.10vw;
    margin-right: 5vw;
    margin-top: 21vh;
}
/* .items3{
   border: 1px solid rgb(104, 102, 102);
   margin: 0vh 2vw;
} */
.manish3{
    width: 15vw;
    height: 25vh;
  margin: 1vh 4vw;
    cursor: pointer;
    background-image: none;
}
.english3{
    text-align: center;
}
.hindi3{
    text-align: center;
}
.button2{
    height: 2.8vh;
    width: 2.8vw;
    border-style: none;
    /* background-color: rgb(2, 162, 255); */
    margin-left: 0.5vw;
}
.button3{
    /* display: inline; */
    height: 3vh;
    width: 2.5vw;
    border-style: none;
    background-color: rgb(0, 0, 0);
    margin-left: 0.5vw;
}
.image56{
    height: 3vh;
    width: 3vw;
     background-color: rgb(2, 162, 255);
    cursor: pointer;
}
.image57{
    height: 3vh;
    width: 2.5vw;
    cursor: pointer;
}
.printPrice{
    text-align: center;
}
.button34{
    border-style: none;
    height: 3vh;
    width: 8vw;
    color: white;
   background-color: hwb(16 0% 0%);
   margin-top: 2vh;
   margin-left: 8vw;
   cursor: pointer;
}
.cart1{
    /* height: 3vh;
    width: 2vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 90vw;
    margin-top: 15vh;
    height: 5vh;
    width: 8vw;
    background-color: rgb(44, 45, 45);
     text-transform: lowercase;
    cursor: pointer;
}
.fa-bag-shopping{
 margin-left: 1vw;
 height: 2vh;
 width: 2vw;
}
.cart1 a {
text-decoration: none;
}
.Bag1{
    color: rgb(246, 233, 233);
}
@media screen and (max-width : 600px) {
    .cart1{
     /* display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 80vw;
    margin-top: 15vh; */
    font-size: xx-small;
    margin-left: 85vw;
    /* margin-right: ; */
    /* height: 5vh;
    width: 8vw;
    background-color: rgb(44, 45, 45);
     text-transform: lowercase;
    cursor: pointer; */
    }
    .itemscontainer3{
     /* display: flex;
    flex-wrap: wrap; */
    width: 55% ;
    height: 100%;
    margin-left: 26vw;
    margin-right:  17vw;
    margin-top: 21vh;
}
     .items3{
          margin-left: 2vw;
     }
.button34{
    border-style: none;
    height: 3vh;
    width: 10vw;
    font-size: xx-small;
    color: white;
   background-color: hwb(16 0% 0%);
   margin-top: 1vh;
   margin-left: 7vw;
   cursor: pointer;
}
.manish3{
    width: 15vw;
    height: 15vh;
  margin: 1vh 4vw;
    cursor: pointer;
    background-image: none;
}
.english3{
    font-size: x-small;
}
.hindi3{
    font-size: x-small;
}
.manish{
    font-size: x-small;
}
.naresh{
    font-size: x-small;
}
}

    
