   .itemscontainer234{
    position: absolute;
    /* position: fixed; */
    /* display: flex; */
    width: 40vw;
    height: 100%;
   margin-left: 22.10vw;
    margin-right: 5vw;
    margin-top: 21vh;
   }

.items4{
    /* left: 0; */
    /* position: absolute; */
    display: flex;
    margin: 2vh 0vw 0vh 0vw ;
    height: 33vh;
    width: 35vw;
    border: 2px solid rgb(36, 35, 35);
    background-color: rgb(255, 162, 162);
    list-style-image: none;
}
.printPrice1{
   margin-top: 4vh;
}
.crossButton{
   /* margin-top: 2vh; */
   position: absolute;
   /* right: 0; */
   margin-left: 32vw;
   height: 3vh;
   width: 3vw;
}
.buttonb{
   border-style: none;
    cursor: pointer;
    mix-blend-mode: multiply;
}
.img32{
   height: 3vh;
   width: 3vw;
mix-blend-mode: multiply;

  }
.itemsDetails{
   margin-top: 21vh;
   margin-left: 67vw;
   width: 30vw;
   height: 100%;
}
.addressofcustomer{
   margin-left: 67vw;
}
.naming{
  margin-top: 2vh;
   text-align: center;
   font-size: large;
   font-weight: bold;
   border-bottom: 2px solid rgb(10, 10, 10);
   /* color: white; */
    /* background-color: rgb(255, 162, 162); */
}
.kilo2{
  margin-top: 2vh;
  text-align: center;
     font-size: large;
   font-weight: bold;
     border-bottom: 2px solid rgb(10, 10, 10);
     /* color: white; */
      /* background-color: rgb(255, 162, 162); */
}
.nitems{
   text-align: center;
   color:rgb(84, 16, 16) ;
}
.priceitems{
  margin-top: 2vh;
   text-align: center;
   font-size: large;
   font-weight: bold;
   /* color: white; */
     /* background-color: rgb(255, 162, 162); */
    /* color:hwb(16 0% 0%); */
      /* border-bottom: 2px solid rgb(10, 10, 10); */
}
.iname3{
  margin-left: 4vw;
/* color: rgb(255, 0, 51); */
color: rgb(0, 0, 0)

} 

 .kquantity{
/* color: rgb(255, 0, 51); */
  margin-left: 4vw;
  color: rgb(0, 0, 0)
}
.pAout{
    margin-left: 7vw;
    color: rgb(0, 0, 0)
}
.fruits3{
  color: rgb(0, 0, 0)
}
/* .colo2{
   margin: 0vh 1vw;
} */
/* .colo22{
  margin: 0vw 3.5vw;
   
} */
/* .pAout{
color: rgb(255, 0, 51);
} */
.pri21{
   /* margin-right:  5vw; */
color: rgb(0, 0, 0)
}
.kilogram31{
   margin-right: 2vw;
color: rgb(0, 0, 0)
}
.details4{
 border: 2px solid rgb(36, 35, 35);
 margin-bottom: 1vh;
    background-color: rgb(103, 179, 255);
    /* color: rgb(255, 230, 230); */
}
.Quantityitem{
   position: absolute;
   margin-left: 71vw;
   top: 15vh;
}
.address{
   width: 30vw;
}
.english33{
color: rgb(66, 30, 30)
}
.hindi33{
color: rgb(74, 39, 39)
}
.kg1{
    color: rgb(75, 40, 40)
}
.naresh2{
   color: rgb(73, 42, 42)
}
.totalprice{
/* position: absolute; */
/* height: 200%;  */
  width: 30vw;
 margin-left: 67vw;
 top: 30%;
}
.tota{
height: 4vh;
width: 30vw;
border: 2px solid rgb(10, 10, 10) ;
/* margin-top: 2vh; */
text-align: center;
 font-weight: bold;
 font-size: large;
background-color: rgb(255, 162, 162);
}
.rupees{
     margin-left: 5vw;
}
.price{
   margin-right: 3vw;
}
.butt{
/* position: absolute; */
height: 5vh;
width: 30vw;
 margin-left: 67vw;
 margin-top: 2vh;
 top: 32%;
}
.placeorder{
   height: 4.9vh;
   width: 30vw;
   background-color: rgb(74, 74, 255);
   color: black;
   cursor: pointer;
font-weight: 500;
 font-size: large;
 border-style: none;
}
.manish4{
   /* height: 4vh;
   width: 6vw; */
   /* /* background-color: rgb(255,162,162); */
  mix-blend-mode: darken;
}
@media screen and (max-width : 600px) {
   .itemscontainer234{
      position: absolute;
      /* position: fixed; */
      /* display: flex; */
      width: 31vw;
      height: 100%;
     margin-left: 30.10vw;
      /* margin-right: 5vw; */
      margin-top: 21vh;
     }
  
  .items4{
      /* left: 0; */
      /* position: absolute; */
      display: flex;
      margin: 2vh 0vw 0vh 0vw ;
      height: 22vh;
      width: 30vw;
      border: 2px solid rgb(36, 35, 35);
      background-color: rgb(255, 162, 162);
      list-style-image: none;
  }
  .manish4{
   /* height: 4vh;
   /* /* background-color: rgb(255,162,162); */
  mix-blend-mode: darken;
  margin-top: 9vh;
  width: 13vw;
}
.printPrice1{
 margin-top: 5vh;
}
.hindi33{
font-size: smaller;
}
.english33{
   font-size: smaller;
}
.kg1{
   font-size: smaller;
}
.naresh2{
   font-size: smaller;
}
.crossButton{
   /* margin-top: 2vh; */
   position: absolute;
   /* right: 0; */
   margin-left: 27vw;
   height: 3vh;
   width: 3vw;
}
.buttonb{
   border-style: none;
    cursor: pointer;
    mix-blend-mode: multiply;
}
.img32{
   height: 3vh;
   width: 3vw;
mix-blend-mode: multiply;
 }
 .itemsDetails{
   margin-top: 21vh;
   margin-left: 62vw;
   width: 32vw;
   height: 100%;
}
.naming{
   margin-top: 2vh;
    /* text-align: center; */
    font-size: smaller;
    font-weight: bold;
    border-bottom: 2px solid rgb(10, 10, 10);
    /* color: white; */
     /* background-color: rgb(255, 162, 162); */
 }
 .kilo2{
   margin-top: 2vh;
   text-align: center;
      font-size: smaller;
    font-weight: bold;
      border-bottom: 2px solid rgb(10, 10, 10);
 }
 .priceitems{
   margin-top: 2vh;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
 }
 .iname3{
   font-size: smaller;
   margin-left: 1vw;
 /* color: rgb(255, 0, 51); */
 color: rgb(0, 0, 0)
 
 } 
 .fruits3{
   font-size: small;
 }
 .Quantityitem{
   position: absolute;
   margin-left: 64vw;
   top: 16vh;
}
.nitems{
   font-size: smaller;
}
.totalprice{
   /* position: absolute; */
   /* height: 200%;  */
     width: 31vw;
    margin-left: 62vw;
    top: 30%;
   }
   .price{
      font-size: smaller;
   }
   .rupees{
      font-size: smaller;
   }
   .tota{
      height: 4vh;
      width: 31vw;
      border: 2px solid rgb(10, 10, 10) ;
      /* margin-top: 2vh; */
      text-align: center;
       font-weight: bold;
       font-size: smaller;
      background-color: rgb(255, 162, 162);
      }
      .butt{
         /* position: absolute; */
         height: 5vh;
         width: 35vw;
          margin-left: 63vw;
          margin-top: 2vh;
          top: 32%;
         }
}
