
.heade{
  color: black;
  margin-top: 5vh;
text-align: center;
}
.purchaseditem{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(10, 10, 10);
}
.itemsDetails45{
   width: 30vw;
   height: 100%;
}
.images38{
  height: 20vh;
  border-bottom:  2px solid rgb(10, 10, 10);
  margin-top: 2vh;
}
.details45{
  height: 20vh;
  border-bottom:  2px solid rgb(10, 10, 10);
}
.naming45{
  margin-top: 2vh;
   /* text-align: center; */
   font-size: large;
   font-weight: bold;
   border-bottom: 2px solid rgb(10, 10, 10);
   /* color: white; */
    /* background-color: rgb(255, 162, 162); */
}
.iname45{
  margin-left: 6vw;
/* color: rgb(255, 0, 51); */
color: rgb(0, 0, 0)

} 
.manish89{
  height: 15vh;
}
.fruits45{
  margin-left: 6vw;
  color: rgb(0, 0, 0)
}
.kilo45{
    margin-top: 2vh;
  /* text-align: center; */
     font-size: large;
   font-weight: bold;
     border-bottom: 2px solid rgb(10, 10, 10);
     /* color: white; */
      /* background-color: rgb(255, 162, 162); */
}
.kquantity45{
  margin-left: 7vw;
}
.kilogram45{
   margin-left: 7vw;
color: rgb(0, 0, 0)
}
.priceitems45{
  margin-top: 2vh;
   text-align: center;
   font-size: large;
   font-weight: bold;
   /* color: white; */
     /* background-color: rgb(255, 162, 162); */
    /* color:hwb(16 0% 0%); */
      /* border-bottom: 2px solid rgb(10, 10, 10); */
}
.pAout45{
    margin-left: 7vw;
    color: rgb(0, 0, 0)
}
.pri45{
   /* margin-left:  3vw; */
color: rgb(0, 0, 0)
}
