*{
    margin: 0;
    padding: 0;
}
.unorder{
    /* display: flex; */
    list-style: none;
}
.unorder li{
    cursor: pointer;
}
.navi{
    width: 30vw;  
    margin-left: 2vw;
    /* background-image: url(vegetable.webp); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: 28vw ,  8vh ; */
}
.heading{
    margin-top: 3vh;
    font-size:  xx-small;
}
.itemss{
  height: 7vh;
    width: 8vw;
    margin: 3vh 0vh 0vh 2.25vw ;
}
.itemss a{
     text-transform: uppercase;
     text-decoration: none;
     color: rgb(246, 239, 239);
}
.itemss  :hover{
border-bottom: 2px solid rgb(255, 0, 0)
}
.itemsss{
    height: 7vh;
    width: 8vw;
     margin: 3vh 0vw 0vh 5vw;
     cursor: pointer;
 }
 .itemsss a{
    /* /* margin-left: 5vw; * */
    text-transform: uppercase;
     text-decoration: none;
     color: rgb(246, 239, 239);
} 
.itemssss{
    height: 7vh;
    width: 8vw;
     margin: 3vh 0vw 0vh 5vw;
     cursor: pointer;
 }
 .itemssss a{
    /* /* margin-left: 5vw; * */
    text-transform: uppercase;
     text-decoration: none;
     color: rgb(246, 239, 239);
} 


.itemsss  :hover{
border-bottom: 2px solid rgb(255, 0, 0)
}
.itemssss  :hover{
border-bottom: 2px solid rgb(255, 0, 0)
}
.heading{
    color: rgb(248, 241, 241);
    /* background-color: rgb(255, 68, 0); */
    /* width: 29vw; */
    /* font-size: smaller; */
    text-align: center;
    margin-top: 1.7vh;
    text-transform: uppercase;
    font-family:  cursive;
}
.image{
    height: 10vh;
    cursor: pointer;
}
.head{
    height: 10vh;
    background-color:rgb(75, 75, 52);
    display: flex;
    z-index: 1;
    /* align-items: center; */
    /* margin-bottom: 5vh; */
    width: 100vw;
    position: fixed;
}
/* .searchbox{
    margin: 20px 0px 0px 15px;
} */
.text{
 outline-style: none; 
}
.button{
   margin: 2.3vh 12.5vw ;
     height: 4vh;
    width: 6vw;
}
.signup{
    color: white;
    height: 4vh;
    width: 6vw;
     border-style: none;
    background-color:hwb(16 0% 0%);
    cursor: pointer;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase;
}
.si{
     color: white;
    height: 4vh;
    width: 6vw;
     border-style: none;
    background-color:hwb(16 0% 0%);
    cursor: pointer;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase;
}
.images{
    height: 3vh;
    margin: 21px 0px;
    outline-style: none;
    cursor: pointer;
}
.unorder :hover{
    color: rgb(229, 236, 236);
}
.container{
    margin-top: 10vh;
  height: 200vh;
  width: 15vw;
 background-color:rgb(108, 108, 71);
 text-align: center;
 margin-left: 4.55vw;
 position: fixed
}
/* .container2{
   transform: translate(-30vw);
   transition-duration: 2s;
} */
.signup1{
     background-color: rgb(108, 108, 71);
}
.heading34{
  position: absolute;
    margin-left:37vw;
    margin-top: 27vh;
}
#signup2{
  
    position: absolute;
    margin-left:40vw;
    margin-top: 30vh;
    /* margin-top: 24vh */
}
.userexist{
    margin-left: 20vw;
    cursor: pointer;
}
#login2{
 
    position: absolute;
    margin-left:44vw;
    margin-top: 40vh;
    /* margin-top: 24vh */
}
.login3{
    transform: translate(0vw , 43vh);
}
#loginemail{
margin-top: 2vh;
}
#loginpassword{
    margin-top: 2vh;
}
.login{
    color: white;
    height: 4vh;
    width: 6vw;
     border-style: none;
    margin-top: 2vh;
    background-color:hwb(16 0% 0%);
    cursor: pointer;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase; 
}
       .button :hover{
        color: rgb(10, 10, 10);
    }
.bigcontainer{
    display: flex;
    width: 100vw;
}
.sig{
    height: 4vh;
    width: 6vw;
    background-color:hwb(16 3% 2%);
    color: rgb(239, 223, 217);
    margin-top: 3vh;
    cursor: pointer;
    /* border: 1px solid gray; */
    border-radius: 2%;
    border-style: none;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase;
}
.list {
    color: rgb(247, 178, 178);
     font-family: "Betania Patmos In GDL", cursive;
}
.list a {
        color: rgb(247, 178, 178);
     font-family: "Betania Patmos In GDL", cursive;
    text-decoration: none;
}
 .input{
    border: 1px solid gray   ;
    margin-top: 1vh;
    margin-bottom: 2vh;
}
.imaging{
 height: 2vh;
 width: 2vw;
  float: right;
  margin: 2vh 1vw 0 ;
 cursor: pointer;
}
.remove{
    height: 5vh;
}
.mar{
    margin-bottom: 2vh;
    color: rgb(216, 203, 203);
}
.information{
    margin-top: 7vh;
}
/* .userexist{
    color: black;
    margin-left: 60vw;
} */
.middle{
    display: flex;
    flex-wrap: wrap;
    width: 70vw ;
    height: 100vh;
    margin-left: 24.10vw;
    margin-right: 5vw;
}
.container3{
   height: 21vh;
   width: 16vw;
}
.set{
height: 20vh;
width: 15vw;
margin: 2vh 2vw;
}
 @media screen and (max-width : 500px) { 
    .navi{
        width: 15vw ;
        margin-left: 9vw;
    }
.heading{
    margin-top: 3vh;
    font-size:  xx-small;
}
/* .button{
    margin-left: 10vw;
    width: 5vw;
} 
.signup{
  color: white;
    height: 4vh;
     width: 3vw; 
      border-style: none;
    background-color:hwb(16 0% 0%);
    cursor: pointer;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase;
     font-size: xx-small;
} */
.signup1{ 
    height: 45vh;
    width: 40vw:   
    margin-left: 10vw;
    border: 1px solid gray;
     text-align: center;
}
#signup2{
    margin-top:33vh;
    margin-left: 45vw;
      background-color:rgb(108, 108, 71);
}
.sig{ 
    height: 5vh;
    width: 13vw;
    background-color:hwb(16 2% 4%);
    color: rgb(239, 223, 217);
    margin-top: 3vh;
    cursor: pointer;
    font-size: xx-small;
     border: 1px solid gray; 
     border-radius: 2%;
    border-style: none;
     font-family: "Betania Patmos In GDL", cursive;
     text-transform: uppercase;
}
.itemss{
    height: 7vh;
    width: 30vw;
     margin: 3vh 0vw 0vh 13vw;
     cursor: pointer;
 }
 .itemss  :hover{ 
 border-bottom: 2px solid rgb(255, 0, 0)
}
 .itemsss{
    margin-left: 15vw;
} 
 .list4{
    font-size: xx-small;
}
.itemssss{
    margin-left: 15vw;
}
.list3{
     font-size: x-small;
}
.list2{
     font-size: x-small;
}
.container{
    margin-top: 10vh; 
  height: 200vh; 
   width: 25vw;
 background-color:rgb(108, 108, 71);
 text-align: center;
 position: fixed
}
.footer{
    margin-left: 30vw;
    /* margin-right: 20vw; */
    /* height: 30vh;
    width: 100%;
  background-color:rgb(108, 108, 71);
    margin-top: 5vh;
}
 .cart{ 
    margin-right: 16vw  ;
} 
 .cart1{
    font-size: xx-small;
} 

   } 
